@import "color.css";
* {
    border: none;

    font-family: "Roboto", "JetBrainsMono Nerd Font Propo";
    font-size: 1.1rem;
    font-weight: 700;

    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

label.module {
    min-width: 25px;
}

button {
    background: inherit;
}
button:hover {
    font-weight: bold;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 10px;
}
tooltip label {
    color: white;
}

label.module {
    background-color: @background;
    color: @font_color;

    border-radius: 10px;

    margin: 0 5px;
    padding: 0 4px;
}

#workspaces {
    background-color: @background;

    border-radius: 10px;

    margin: 0 5px;
    padding: 0 4px;
}
#workspaces button {
    transition: all 250ms ease-in-out;

    color: @font_color;

    border: 3px solid transparent;

    margin: 0 2.5px;

    padding: 0 5px;
}
#workspaces button.active {
    background-color: @font_color;
    color: @background;

    border-radius: 10px;

    min-width: 35px;
}

#window {
    background-color: @background;
    color: @font_color;

    border-radius: 10px;

    margin: 0 5px;
    padding: 0 4px;
}
